/*************MASHUP CSS******************

mashup.css defines the design of all mashup screens.
When extracted from the zip, all classes will be commented out.
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
* In order to customize a specific class, remove the comment from the desired class and make the necessary changes.
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
* When customizing an icon from the given set of icons in the skin's zip file (located in the icons folder), the version parameter on the icon's path in the css file needs to be changed.
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
* This is done to improve browser caching and will affect the time it takes for these changes to affect all users.

* For example: if the image "icon_popout_tab.png" was replaced, the version parameter, which is added to the background-image path, defined in the class below (ln. 719), should be changed:

****This is an example, do not uncomment this*****

.iframeHeader div.iframeHeaderContent input.popout {
	...
	background-image: url("/view/branding_skin/icons/icon_popout_tab.png?version=1.1);
	...
}

*****************************************/

/** {
	margin: 0;
	padding: 0;
	border: none;
}*/

/*A:link,A:visited {
	color: #2c4d82;
}*/

/*::selection {
	background: #2c4d82;
	color: #fff;
}*/

/*::-moz-selection {
	background: #2c4d82;
	color: #fff;
}*/

/*body {
	color: #32322f;
	font-family: Arial, verdana, sans-serif;
}*/

/*.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}*/

/*.clearfix {
	display: inline-block;*/
/*} *//* Hides from IE-mac \ */
/** html .clearfix {
	height: 1%;*/
/*}*/ /* End hide from IE-mac  */
/*.clearfix {
	display: block;
}*/

/*html {
	height: 100%
}*/

/*body {
	width: 100%;
	background-color: #ffffff;
	color: #32322f;
	margin: 0px;
	padding: 0px;
	font-family: Arial, verdana;
	font-size: 80%;
	height: 100%;
}*/

/*a:link,a:visited {
	color: #0075b0;
	text-decoration: none
}*/

/*a:hover {
	text-decoration: underline;
}*/

/*input,select,textarea {
	border: 1px solid #7f9db9;
	width: auto;
	font-family: Arial, verdana;
}*/

/*textarea {
	font-size: 100%;
}*/

/*input {
	height: 18px;
}*/

/*.width5 {
	width: 5%
}*/

/*.width10 {
	width: 10%
}*/

/*.width15 {
	width: 15%
}*/

/*.width20 {
	width: 20%
}*/

/*.width24 {
	width: 24%
}*/

/*.width30 {
	width: 30%
}*/

/*.width40 {
	width: 40%
}*/

/*.width50 {
	width: 50%
}*/

/*.width48 {
	width: 48%
}*/

/*.width60 {
	width: 60%
}*/

/*.width72 {
	width: 72%
}*/

/*.widthAuto {
	width: auto
}*/

/*.tabContent {
	margin: 0em;
}*/

/*.tabContent h1 {
	font-size: 100%;
	margin-left: 2em;
	margin-top: 1em;
}*/

/*.tabContent h2 {
	font-size: 100%;
	margin-left: 2em;
	margin-top: 1em;
	color: #555555;
}*/

/*.tabContent ul {
	list-style: none;
	margin: 0em;
	padding: 0em;
}*/

/*.internalTitle {

}*/

/*.internalSection {
	float: left;
	width: 100%;
	margin: 0em;
	padding: 0em;
}*/

/*.internalSection  li {
	margin: 0em;
	padding: 0em;
	float: left;
	line-height: 200%;
	padding-right: 0em;
}*/

/*.internalSection2 li:first-child {
	margin-left: 0.5em;
}*/

/*.internalSection2 li {
	margin-left: 0.3em;
}*/

/*.internalSection2  li label {
	padding-right: 0.5em;
	font-weight: bold;
}*/




/*.filterResults {
	width: 100%;
	margin: 0em;
	padding: 0em;
	background-color: #f6f6f6;
	display: block;
}*/

/*.sectionTitle {
	font-weight: 700;
	height: 20px
}*/

/*.nextLine {
	clear: left;
	display: block;
	line-height: 110%;
}*/

/*.typeNow {
	background: url("/view/branding_skin/icons/icon_getit_now.png?version=1.0")
		no-repeat transparent;
	padding-left: 20px
}*/

/*.typeRequest {
	background: url("/view/branding_skin/icons/icon_getit_request.png?version=1.0")
		no-repeat transparent;
	padding-left: 20px
}*/

/*.typeWait {
	background: url("/view/branding_skin/icons/icon_getit_wait.png?version=1.0")
		no-repeat transparent;
	padding-left: 20px
}*/

/*.typeOther {
	background:
		url("/view/branding_skin/icons/icon_getit_otherServices.png?version=1.0")
		no-repeat transparent;
	padding-left: 20px
}*/

/*.typeHoldings {
	background: url("/view/branding_skin/icons/icon_getit_holdings.png?version=1.0")
		no-repeat transparent;
	padding-left: 20px
}*/

/*.rowActions {
	float: right;
	text-align: right
}*/

/*ul.formView {
	display: block;
	margin-left: 2em;
	width: 95%;
	margin-top: 0.3em;
}*/

/*.formView  li {
	margin-bottom: 0.3em
}*/

/*.formView  li label {
	font-weight: normal;
	display: inline-block;
}*/

/*.formView  li label:before {
	content: '*';
	color: #ff0000;
	margin-right: 0.5em;
	visibility: hidden;
}*/

/*.formView  li.requiredField label:before {
	content: '*';
	color: red;
	visibility: visible;
}*/

/*.formView  li input[type="checkbox"],.formView  li input[type="radio"] {
	height: auto;
	width: auto;
	margin-right: 0.5em;
	border:none;
}*/

/*.formView input.dp-applied {
	margin: 0 0px
}*/

/*.formView a.dp-choose-date img {
	vertical-align: middle;
	margin-top:-1px;
}*/

/*.mandatory {
	color: #ff0000
}*/

/*.submitBorder {
	border: 1px solid #7f9db9;
	display: inline-block;
	width: auto;
	height: 20px;
	text-align: center;
	padding: 1px;
	vertical-align: text-top;
	margin-right: 0.5em;
	margin-left: 0.8em;
	display:inline!ie;
		float:left!ie;


}*/

/*.submitBorder input {
	padding: 0em 0.5em 0em 0.5em;
	color: #FFFFFF;
	font-weight: normal;
	height: 20px;
	cursor: pointer;
	display: block;
	line-height: 160%;
	background: #fa8e51;*/ /* Old browsers */
	/*background: -moz-linear-gradient(top, #fa8e51 0%, #f3742b 100%);*/
	/* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fa8e51),
		color-stop(100%, #f3742b) );*/ /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #fa8e51 0%, #f3742b 100%);*/
	/* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #fa8e51 0%, #f3742b 100%);*/
	/* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #fa8e51 0%, #f3742b 100%);*/
	/* IE10+ */
	/*background: linear-gradient(top, #fa8e51 0%, #f3742b 100%);*/ /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient(
		                     startColorstr='#fa8e51',
		endColorstr='#f3742b', GradientType=0 ); *//* IE6-9 */
	/*border: none;*/
/*}*/

/*.resetContainer {
	border: 1px solid #7f9db9;
	display: inline-block;
	display:inline!ie;
	float:left!ie;
	width: auto;
	height: 20px;
	text-align: center;
	padding: 1px;
	vertical-align: text-top
}*/

/*.resetContainer a {
	padding: 0em 0.5em 0em 0.5em;
	background: #bcbcbc;
	color: #FFFFFF;
	font-weight: normal;
	height: 20px;
	cursor: pointer;
	display: inline-block;
	display: block!ie;
	line-height: 160%;
	width: 50px;
}*/



/*.showMore {
	background-color: #FFF6D4;
}*/

/*.showMore span {
	margin-right: 3%
}*/

/*.validationFeedback {
	background-color: #FFF6D4;
	border: 1px solid #F5E1B8;
	font-weight: 700;
	color: #D43B3B
}*/

/*.systemFeedback {
	background-color: #fffbc3;
	background-image:
		url(/view/branding_skin/icons/bg_strip_system_feedback.png?version=1.0);
	background-position: center bottom;
	background-repeat: repeat-x;
	color: #000000;
	border-bottom: 1px solid #e1e1e1;
	padding: 0.5em 1.5em 0.5em 0.6em;
}*/

/*.typeD table {
	width: 100%;
}*/

/*.typeD table th {
	border-bottom: 1px solid #E0E2E5;
	color: #32322F;
	height: 26px;
	text-align: left;
	padding-left: 0.5em;
}*/

/*.typeD table tbody tr:hover,.typeD2 table tbody tr:hover {

}*/

/*.typeD table tbody tr td,.typeD2 table tbody tr td {
	background-color: #f6f6f6;
	vertical-align: top;
	padding-left: 0.5em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}*/

/*.typeD table tbody tr:hover td,.typeD2 table tbody tr:hover td {

}*/

/*.typeD table tbody tr td:hover,.typeD2 table tbody tr td:hover {

}*/

/*.typeD table th.attention-table-title,.typeD2 table th.attention-table-title
	{
	background-color: #f2f2f2
}*/

/*.typeD table tbody tr.odd td {
	background: #fff;
}*/

/*.typeD table tbody tr.odd:hover td {
	background: transparent;
}*/

/*.typeD table th,.typeD2 table th {
}*/

/*.typeD table th input.sort {
	color: #fff;
	background: url('/infra/images/sortable.png?version=1.0') transparent no-repeat 2px
		center;
	text-shadow: 0 -1px #092147;
	padding-left: 14px;
	text-decoration: none
}*/

/*.floatRigth {
	float: right;
}*/

/*.typeD table th input.sortedUp {
	background-image: url('/infra/images/sortedUp.png?version=1.0');
	color: #ccc
}*/

/*.typeD table th input.sortedDown {
	background-image: url('/infra/images/sortedDown.png?version=1.0');
	color: #ccc
}*/

/*.submitAsLink,.typeC .formDiv input.submitAsLink {
	color: #0075b0;
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	font-weight: 400;
	overflow: visible;
	padding: 0;
	text-align: left;
	text-decoration: none;
	white-space: normal;
	width: auto;
	font-family: arial;
	letter-spacing: 0px;
}*/

/*.submitAsNoLink,.typeC .formDiv input.submitAsNoLink {
	color: #2c4d82;
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	font-weight: 400;
	overflow: visible;
	padding: 0;
	text-align: left;
	white-space: normal;
	width: auto;
}*/

/*.typeI div.alignRight .export {
	background-color: #2c4d82;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c4d82',
		endColorstr='#143160' );
	background: -webkit-gradient(linear, left top, left bottom, from(#2c4d82),
		to(#143160) );
	background: -moz-linear-gradient(center top, #2c4d82, #143160);
}*/

/*div.alignRight {
	float: right;
}*/

/*.typeI .buttonLink {
	color: #2c4d82;
}*/

/*.typeI div.alignRight ul li a {
	color: #2c4d82;
}*/

/*ul.pagination li.hideActions .openUpperActions,li.hideActions .openUpperActions ul.actionsToHide
	{
	height: auto;
	border: 1px solid #ccc;
	width: auto;
	background-color: transparent;
}*/

/*.paginationContainer {
	display: block;
	width: 100%;
	margin: 0em;
	padding: 0em;
	background-color: #f6f6f6;
	border-bottom: 1px solid #e1e1e1;
	display: block;
	float: none;
	padding-top: 0.5em;
}*/

/*.paginationContainer ul {
	display: block;
	width: 300px;
	border: 1px solid #e1e1e1;
	border-bottom: none;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: -1px;
}*/

/*.pagination .buttonAction,.pagination .buttonAction input {
	min-width: 0.9em;
	font-family: Arial;
	cursor: pointer;
}*/

/*.pagination .selected {
	border-color: #939393;
	background: #f0f1f8;
}*/

/*.typeI ul.pagination li {
	padding-top: 0.5em;
	display: inline-block;
}*/

/*.typeI ul.pagination li .selected input {
	color: #555;
	cursor: default;
}*/

/*.typeI ul li.alignRight {
	float: right;
	padding-right: 0.2em;
}*/

/*.widgetContainer .welcomeMessage .alignRight {
	margin: 0.1em 0.5em 0 0;
	padding-left: 0.4em;
}*/

/*.widgetContainer .welcomeMessage .alignRight a {
	font-weight: 700;
	margin-right: 0.8em;
}*/

/*.widgetContainer .welcomeMessage .alignRight a:hover {
	text-decoration: none;
}*/

/*.roundLeft,.widgetContainer .welcomeMessage .alignRight {
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
}*/

/*.roundRight,.widgetContainer .welcomeMessage .alignRight {
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
}*/

/*.buttonActionAdjacent {
	border-right: none;
}*/

/*.arrowDown {
	background: url("icon_optionsMenu_down.png?version=1.0") no-repeat 50% 50%
		transparent;
	display: inline-block;
	width: 8px;
}*/

/*.typeI div.alignRight ul li {
	color: #555;
}*/

/*.typeI div.alignRight {
	height: 26px;
	line-height: 26px;
}*/

/*.typeI div.alignLeft {
	height: 26px;
	line-height: 26px;
}*/

/*.typeI div.alignRight ul {
	height: 26px;
	line-height: 26px;
}*/

/*.typeI div.alignRight ul li {
	height: 26px;
	line-height: 26px;
}*/

/*.pagination .selected {
	border-color: #939393;
	background: #f0f1f8;
}*/

/*span.Arrow input {
	text-indent: -1000em;
	width: 10px;
}*/

/*span.firstPage input {
	background: url("/view/branding_skin/icons/firstPage.png?version=1.0") no-repeat
		transparent center center;
}*/

/*span.previousPage input {
	background: url("/view/branding_skin/icons/previousPage.png?version=1.0") no-repeat
		transparent center center;
}*/

/*span.nextPage input {
	background: url("/view/branding_skin/icons/nextPage.png?version=1.0") no-repeat
		transparent center center;
}*/

/*span.lastPage input {
	background: url("/view/branding_skin/icons/lastPage.png?version=1.0") no-repeat
		transparent center center;
}*/

/*.iframeHeader {
	background-color: #f1f1f1;
	background-image:
		url("/view/branding_skin/icons/bg_strip_brief_tabs_header.png?version=1.0");
	background-repeat: repeat-x;
	border-bottom: 1px solid #e1e1e1;
	min-height: 27px;
	height: auto;
	max-height: 5em;
	display: block;
}*/

/*.iframeHeader form {
	margin: 0em;
	padding: 0em;
}*/

/*.iframeHeader div.iframeHeaderContent {
	padding: 0.3em;
	padding-top: 0.2em;
	padding-left: 0.5em;
	width: 98%;
	color: #adb9c2;
	float: left;
}*/

/*.iframeHeader .iframeHeaderContent em {
	color: #000000;
	font-style: normal;
	font-weight: normal;
	padding-right: 0.2em
}*/

/*.iframeHeader div.iframeHeaderContent input.popout {
	width: auto;
	background-image: url("/view/branding_skin/icons/icon_popout_tab.png?version=1.0");
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 1em;
}*/

/*.iframeHeader div.iframeHeaderContent span {
	padding: 0.3em 0.1em 0.3em 0.1em;
	width: auto;
}*/

/*.iframeHeader div.iframeHeaderContent span.back {
	display: inline-block;
	padding: 0px 5px 0px 5px;
	float: right;
	margin-top: 1px;
	background-image: url("/view/branding_skin/icons/icon_arrow_prev.png?version=1.0");
	background-position: left;
	padding-left: 1em;
	background-repeat: no-repeat;
}*/

/*.submitBorderDisabled {
	border: 1px solid #bcbcbc;
	}*/

/*.submitBorderDisabled input[disabled] {
	background: #bcbcbc; cursor: auto;
	text-shadow: 0 -1px 1px #ebebeb;
	background-image:none;
	filter:none;
	}*/

/*.requestOptionNoHoldings {
	padding: 10px;
}*/


/****Date and Time widget*****************
Classes bellow are used to define the look and feel of the date & time component
*****************************************/

/*input.hasDatepicker{
	background: url("/view/branding_skin/icons/icon_date.png?version=1.0") no-repeat 100.5% center #fff;
}*/
/*input.hasDateAndTimePicker{
	background: url("/view/branding_skin/icons/icon_date.png?version=1.0") no-repeat 101% center #fff;
}*/
/*input.dateTimeReset {
	text-indent: -100000em;
	display: inline-block;
	margin-left: 5px;
	margin-top: 1px;
	background:url('/view/branding_skin/icons/broom.png?version=1.0') no-repeat transparent;
	width:17px;
	height:16px;
	border:none;
	cursor: pointer;
}*/
/*input.dateReset {
	text-indent: -100000em;
	display: inline-block;
	margin-left: 5px;
	margin-top: 1px;
	background:url('/view/branding_skin/icons/broom.png?version=1.0') no-repeat transparent;
	width:17px;
	height:16px;
	border:none;
	cursor: pointer;
}*/
/*.timePickerInner{
	display:inline-block;
	background-color:#ccc;
	padding:2px;
	border: 1px solid #898989;
}*/
/*.timePickerInner select{
	width:3.5em;
}*/
/*.timePopup{
	background-color: white;
	border: 1px solid #898989;
	position: absolute;
	margin-top: 1.6em;
	margin-left: -12em;
	padding: 2px;
	z-index:11;
	text-align:center;
	width:auto;*/
	/**For IE8**/
	/*width:110px\9;
}*/
/*.timePopupLarger{*/
	/**For IE8**/
	/*width:160px\9;
}*/
/*.timePopup .closeButton{
	width:100%;
	text-decoration:none;
	color:#555555;
	display:block;
}*/
/*.jsTimeField{
	background: url("/view/branding_skin/icons/time_icon.png?version=1.0") no-repeat scroll 99% center #FFFFFF;
}*/
/*.hide{
	display:none;
}*/
/*.dateError{
	color:#FE0101;
	font-size:0.8em;
	margin-left:1em;
}*/
/*.timeError{
	color:#FE0101;
	font-size:0.8em;
	margin-left:1em;
}*/
/*.inlineDisplay {
	display:inline-block;
}*/
/*
.isRelatedHolding li{
	font-weight: bold;
}*/

/*
.publicNote {
	white-space: pre;
	padding-left:30px;
	color: Gray;
}*/
/*
.publicNoteRestricted {
    padding-left:50px;
    color: Gray;
    background: url("/infra/images/lock.png") no-repeat transparent;
    background-position: 30px;
}*/




/*****************************************/

/*! jQuery UI - v1.9.2 - 2013-06-30
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.datepicker.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
/*.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }*/


/* Interaction Cues
----------------------------------*/
/*.ui-state-disabled { cursor: default !important; }*/


/* Icons
----------------------------------*/

/* states and images */
/*.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }*/


/* Misc visuals
----------------------------------*/

/* Overlays */
/*.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }*/

/* with multiple calendars */
/*.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }*/

/* RTL support */
/*.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }*/

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
/*.ui-datepicker-cover {
    position: absolute;*/ /*must have*/
   /* z-index: -1;*/ /*must have*/
    /*filter: mask();*/ /*must have*/
    /*top: -4px;*/ /*must have*/
    /*left: -4px; */ /*must have*/
   /* width: 200px;*/ /*must have*/
   /* height: 200px; *//*must have*/
}
/* Component containers
----------------------------------*/
/*.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(/infra/css/images/ui-bg_flat_75_ffffff_40x100.png?version=1.0) 50% 50% repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(/infra/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png?version=1.0) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }*/

/* Interaction states
----------------------------------*/
/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(/infra/css/images/ui-bg_glass_75_e6e6e6_1x400.png?version=1.0) 50% 50% repeat-x; font-weight: normal; color: #555555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999; background: #dadada url(/infra/css/images/ui-bg_glass_75_dadada_1x400.png?version=1.0) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(/infra/css/images/ui-bg_glass_65_ffffff_1x400.png?version=1.0) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }*/

/* Interaction Cues
----------------------------------*/
/*.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1; background: #fbf9ee url(/infra/css/images/ui-bg_glass_55_fbf9ee_1x400.png?version=1.0) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(/infra/css/images/ui-bg_glass_95_fef1ec_1x400.png?version=1.0) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } *//* For IE8 - See #6059 */

/* Icons
----------------------------------*/

/* states and images */
/*.ui-icon { width: 16px; height: 16px; background-image: url(/infra/css/images/ui-icons_222222_256x240.png?version=1.0); }
.ui-widget-content .ui-icon {background-image: url(/infra/css/images/ui-icons_222222_256x240.png?version=1.0); }
.ui-widget-header .ui-icon {background-image: url(/infra/css/images/ui-icons_222222_256x240.png?version=1.0); }
.ui-state-default .ui-icon { background-image: url(/infra/css/images/ui-icons_888888_256x240.png?version=1.0); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/infra/css/images/ui-icons_454545_256x240.png?version=1.0); }
.ui-state-active .ui-icon {background-image: url(/infra/css/images/ui-icons_454545_256x240.png?version=1.0); }
.ui-state-highlight .ui-icon {background-image: url(/infra/css/images/ui-icons_2e83ff_256x240.png?version=1.0); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/infra/css/images/ui-icons_cd0a0a_256x240.png?version=1.0); }*/

/* positioning */
/*.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }*/
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
/*.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }*/


/* Misc visuals
----------------------------------*/

/* Corner radius */
/*.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }*/

/* Overlays */
/*.ui-widget-overlay { background: #aaaaaa url(/infra/css/images/ui-bg_flat_0_aaaaaa_40x100.png?version=1.0) 50% 50% repeat-x; opacity: .3;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(/infra/css/images/ui-bg_flat_0_aaaaaa_40x100.png?version=1.0) 50% 50% repeat-x; opacity: .3;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }*/



