/*****************************************************************
BEGIN:  WWU Local Request Form Changes - Updated 3/1/16
******************************************************************/   
/*WWU-Specific label width adjustment*/
.tabContent.requestForm.holdRequest li {
line-height: 200%;
width: 20%
}
/*DETAILS OF TITLE YOU REQUESTED*/
.tabContent.requestForm.holdRequest #titleList {
      position: absolute;
      top: 45px;
	  height: 20px;
} 
/*Details of Title You Requested Label (Shows to users on request form)*/
/*.tabContent.requestForm.holdRequest #titleHeader{display:none;}*/
/*Request Type (Shows to users on request form)*/
/*.tabContent.requestForm.holdRequest #requestTypeH{display:none;}*/
/*.tabContent.requestForm.holdRequest #requestTypeV{display:none;}*/
.tabContent.requestForm.holdRequest #requestTypeV{width:72%;}
/*Material Type*/
/*.tabContent.requestForm.holdRequest #materialTypeH{display:none;}
/*.tabContent.requestForm.holdRequest #materialTypeV{display:none;}
/*Terms of Use*/
/*.tabContent.requestForm.holdRequest #termsOfUseH{display:none;}
/*.tabContent.requestForm.holdRequest #termsOfUseV{display:none;}
/*Pickup Location (Shows to users on request form)*/
/*.tabContent.requestForm.holdRequest #pickupLocationH{display:none;}*/
/*.tabContent.requestForm.holdRequest #pickupLocationV{display:none;}*/
/*Not Needed After*/
/*.tabContent.requestForm.holdRequest #noNeedAfterH{display:none;}
/*.tabContent.requestForm.holdRequest #noNeedAfterV{display:none;}
/*Availability Display (Shows to users for booking requests)*/
/*.tabContent.requestForm.holdRequest #availabilityDisplayV{display:none;}*/
/*Start Date (Shows to users for booking requests)*/
/*.tabContent.requestForm.holdRequest #startDateH{display:none;}*/
/*.tabContent.requestForm.holdRequest #startDateV{display:none;}*/
.tabContent.requestForm.holdRequest #startDateV{width:72%;}
/*End Date (Shows to users for booking requests)*/
/*.tabContent.requestForm.holdRequest #endDateH{display:none;}*/
/*.tabContent.requestForm.holdRequest #endDateV{display:none;}*/
.tabContent.requestForm.holdRequest #endDateV{width:72%;}
/*Comment Line (Shows to users on request form)*/
/*.tabContent.requestForm.holdRequest #commentH{display:none;}*/
/*.tabContent.requestForm.holdRequest #commentV{display:none;}*/
.tabContent.requestForm.holdRequest #commentV{width:72%;}
/*Buttons*/
.tabContent.requestForm.holdRequest #formActionsContainer{
	position: relative;
	top: 6px;
	left: 67px;
	width: 50%
}
/*Submit button text*/
.tabContent.requestForm.holdRequest #exlidRequestTabFormSubmit {
	line-height: 120%;
}
/*Cancel button text*/
.tabContent.requestForm.holdRequest div.resetContainer a {
	line-height: 170%;
}
/*****************************************************************
END:  WWU Local Request Form Changes - Updated 1/21/16
******************************************************************/