/*****************************************************************
 BEGIN: Summit 3 Request Form Changes - Updated 8/1/16
******************************************************************/
/*WWU-Specific label width adjustment*/
.tabContent.requestForm.illRequest li {
line-height: 200%;
width: 35%;
}

.width30 {
	width: 50%;
}
   
/*RESOURCE INFORMATION*/
.tabContent.requestForm.illRequest #resourceInformationList {
      position: relative;
      top: 100px;
	  height: 20px;
} 

/*Resource Information Label*/
.tabContent.requestForm.illRequest #resourceInformationHeader{margin-left:0em;margin-top:0em;}
.tabContent.requestForm.illRequest #resourceInformationHeader{display:none;}

/*DELIVERY INFORMATION*/
.tabContent.requestForm.illRequest #deliveryInformationList {
      position: absolute;
      top: 35px;
	  height: 60px;
} 
/*Delivery Information Label (Shows to users on request form)*/
.tabContent.requestForm.illRequest #deliveryInformationHeader{
	position: absolute;
	top: 10px;
}

/*BUTTONS*/
.tabContent.requestForm.illRequest #siteConfigurableTextList{
    position: relative;
    top: 100px;
	padding-left: 105px;
	width: 50%
} 

/*Button Line*/
.tabContent.requestForm.illRequest #formActionsContainer{
	left: 70px;
	width: 100%;
}
/*Submit button body*/
.submitBorder.submitBorderDisabled {
	border:1px solid #7f9db9;
}
.submitBorder input {
    padding: 0em 0.5em 0em 0.5em;
    color: #FFFFFF;
    font-weight: normal;
    height: 20px;
    cursor: pointer;
    display: block;
    line-height: 160%;
    background: #003f87;
    background: -moz-linear-gradient(top, #003f87 5%, #468ccf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #003f87),
 color-stop(100%, #468ccf) );
    background: -webkit-linear-gradient(top, #003f87 5%, #468ccf 100%);
    background: -o-linear-gradient(top, #003f87 5%, #468ccf 100%);
    background: -ms-linear-gradient(top, #003f87 5%, #468ccf 100%);
    background: linear-gradient(top, #003f87 5%, #468ccf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
 startColorstr='#003f87',
 endColorstr='#468ccf', GradientType=0 );
    border: none;
}

/*Submit button text*/
.tabContent.requestForm.illRequest #submitILLRequest {
	line-height: 120%;
	padding: 0em 0.5em 0em 0.5em;
}
/*****************************************************************
END: Summit 3 Request Form Changes - Updated 8/1/16
******************************************************************/