/*****************************************************************
 BEGIN: Summit 3 Request Form Changes - Updated 2/29/16
******************************************************************/
/*WWU-Specific label width adjustment*/
.tabContent.requestForm.illRequest li {
line-height: 200%;
width: 35%
}
   
/*RESOURCE INFORMATION*/
.tabContent.requestForm.illRequest #resourceInformationList {
      position: relative;
      top: 120px;
	  height: 20px;
} 
/*Resource Information Label*/
.tabContent.requestForm.illRequest #resourceInformationHeader{display:none;}
/*Citation Type*/
.tabContent.requestForm.illRequest #citationTypeH{display:none;}
.tabContent.requestForm.illRequest #citationTypeV{display:none;}
/*Title*/
.tabContent.requestForm.illRequest #bookTitleH{display:none;}
.tabContent.requestForm.illRequest #bookTitleV{display:none;}
.tabContent.requestForm.illRequest #articleTitleH{display:none;}
.tabContent.requestForm.illRequest #articleTitleV{display:none;}
.tabContent.requestForm.illRequest #journalTitleH{display:none;}
.tabContent.requestForm.illRequest #journalTitleV{display:none;}
/*Author*/
.tabContent.requestForm.illRequest #authorsH{display:none;}
.tabContent.requestForm.illRequest #authorsV{display:none;}
.tabContent.requestForm.illRequest #authInitH{display:none;}
.tabContent.requestForm.illRequest #authInitV{display:none;}
/* Specific Edition*/
.tabContent.requestForm.illRequest #specificEditionH{display:none;}
.tabContent.requestForm.illRequest #specificEditionV{display:none;}
/*Edition*/
.tabContent.requestForm.illRequest #editionH{display:none;}
.tabContent.requestForm.illRequest #editionV{display:none;}
/*Journal Volume*/
.tabContent.requestForm.illRequest #journalVolumeH{display:none;}
.tabContent.requestForm.illRequest #journalVolumeV{display:none;}
/*Journal Issue*/
.tabContent.requestForm.illRequest #journalIssueH{display:none;}
.tabContent.requestForm.illRequest #journalIssueV{display:none;}
/*ISBN*/
.tabContent.requestForm.illRequest #isbnH{display:none;}
.tabContent.requestForm.illRequest #isbnV{display:none;}
/*ISSN*/
.tabContent.requestForm.illRequest #issnH{display:none;}
.tabContent.requestForm.illRequest #issnV{display:none;}
/*LCCN*/
.tabContent.requestForm.illRequest #lccNumberH{display:none;}
.tabContent.requestForm.illRequest #lccNumberV{display:none;}
/*OCLC Number*/
.tabContent.requestForm.illRequest #oclcNumberH{display:none;}
.tabContent.requestForm.illRequest #oclcNumberV{display:none;}
/*DOI*/
.tabContent.requestForm.illRequest #doiH{display:none;}
.tabContent.requestForm.illRequest #doiV{display:none;}
/*PMID*/
.tabContent.requestForm.illRequest #pmidH{display:none;}
.tabContent.requestForm.illRequest #pmidV{display:none;}
/*Publisher*/
.tabContent.requestForm.illRequest #publisherH{display:none;}
.tabContent.requestForm.illRequest #publisherV{display:none;}
/*Publication Date*/
.tabContent.requestForm.illRequest #yearH{display:none;}
.tabContent.requestForm.illRequest #yearV{display:none;}
/*Place of Publication*/
.tabContent.requestForm.illRequest #placeOfPublicationH{display:none;}
.tabContent.requestForm.illRequest #placeOfPublicationV{display:none;}
/*Additional Author*/
.tabContent.requestForm.illRequest #additionalAuthorH{display:none;}
.tabContent.requestForm.illRequest #additionalAuthorV{display:none;}
/*Volume (Shows to users on request form)*/
/* .tabContent.requestForm.illRequest #volumeH{display:none;}
.tabContent.requestForm.illRequest #volumeV{display:none;} */
/*Part*/
.tabContent.requestForm.illRequest #partH{display:none;}
.tabContent.requestForm.illRequest #partV{display:none;}
/*Chapter*/
.tabContent.requestForm.illRequest #chapterH{display:none;}
.tabContent.requestForm.illRequest #chapterV{display:none;}
/*Source*/
.tabContent.requestForm.illRequest #sourceH{display:none;}
.tabContent.requestForm.illRequest #sourceV{display:none;}
/*Series title number*/
.tabContent.requestForm.illRequest #seriesTitleNumberH{display:none;}
.tabContent.requestForm.illRequest #seriesTitleNumberV{display:none;}
/*Pages to photocopy*/
.tabContent.requestForm.illRequest #pagerOrPages{display:none;}
.tabContent.requestForm.illRequest #pagesH{display:none;}
.tabContent.requestForm.illRequest #pagesV{display:none;}
/*Start Page*/
.tabContent.requestForm.illRequest #startPageH{display:none;}
.tabContent.requestForm.illRequest #startPageV{display:none;}
/*End Page*/
.tabContent.requestForm.illRequest #endPageH{display:none;}
.tabContent.requestForm.illRequest #endPageV{display:none;}
/*Article and Book Mandatory Fields*/
.tabContent.requestForm.illRequest #articleMandatoryV{display:none;}
.tabContent.requestForm.illRequest #bookMandatoryV{display:none;}

/*DELIVERY INFORMATION*/
.tabContent.requestForm.illRequest #deliveryInformationList {
      position: absolute;
      top: 65px;
	  height: 60px;
} 
/*Delivery Information Label (Shows to users on request form)*/
/* .tabContent.requestForm.illRequest #deliveryInformationHeader{ display: none;} */
.tabContent.requestForm.illRequest #deliveryInformationHeader{
	position: absolute;
	top: 30px;
}
/*Format*/
.tabContent.requestForm.illRequest #formatH{display:none;}
.tabContent.requestForm.illRequest #formatV{display:none;}
/*Requested Media*/
.tabContent.requestForm.illRequest #requestedMediaH{display:none;}
.tabContent.requestForm.illRequest #requestedMediaV{display:none;}
/*User Address*/
.tabContent.requestForm.illRequest #userAddressH{display:none;}
.tabContent.requestForm.illRequest #userAddressV{display:none;}
/*User Email*/
.tabContent.requestForm.illRequest #userEmailH{display:none;}
.tabContent.requestForm.illRequest #userEmailV{display:none;}
/*Text Email*/
.tabContent.requestForm.illRequest #textEmailH{display:none;}
.tabContent.requestForm.illRequest #textEmailV{display:none;}
/*Address Lines*/
.tabContent.requestForm.illRequest #postalLine1{display:none;}
.tabContent.requestForm.illRequest #textPostal1{display:none;}
.tabContent.requestForm.illRequest #postalLine2{display:none;}
.tabContent.requestForm.illRequest #textPostal2{display:none;}
.tabContent.requestForm.illRequest #postalLine3{display:none;}
.tabContent.requestForm.illRequest #textPostal3{display:none;}
.tabContent.requestForm.illRequest #postalLine4{display:none;}
.tabContent.requestForm.illRequest #textPostal4{display:none;}
/*Pickup Library (Shows to users on request form)*/
/*.tabContent.requestForm.illRequest #pickupLibraryH{display:none;}*/
/*.tabContent.requestForm.illRequest #pickupLibraryV{display:none;}*/
/*Not needed after*/
.tabContent.requestForm.illRequest #noNeedAfterH{display:none;}
.tabContent.requestForm.illRequest #noNeedAfterV{display:none;}
/*Comment (Shows to users on request form)*/
/*.tabContent.requestForm.illRequest #commentH{display:none;}*/
/*.tabContent.requestForm.illRequest #commentV{display:none;}*/
/*Maximum fee:(USD)*/
.tabContent.requestForm.illRequest #maximumFeeH{display:none;}
.tabContent.requestForm.illRequest #maximumFeeV{display:none;}

/*BUTTONS*/
.tabContent.requestForm.illRequest #siteConfigurableTextList{
    position: relative;
    top: 120px;
	padding-left: 105px;
	width: 50%
} 
/*Empty Label Line*/
.tabContent.requestForm.illRequest #emptyLabelLine{display:none;}
/*Button Line*/
.tabContent.requestForm.illRequest #formActionsContainer{
	left: 70px;
	width: 100%;
}
/*Submit button body*/
.submitBorder.submitBorderDisabled {
	border:1px solid #7f9db9;
}
.submitBorder input {
    padding: 0em 0.5em 0em 0.5em;
    color: #FFFFFF;
    font-weight: normal;
    height: 20px;
    cursor: pointer;
    display: block;
    line-height: 160%;
    background: #003f87;
    background: -moz-linear-gradient(top, #003f87 5%, #468ccf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #003f87),
 color-stop(100%, #468ccf) );
    background: -webkit-linear-gradient(top, #003f87 5%, #468ccf 100%);
    background: -o-linear-gradient(top, #003f87 5%, #468ccf 100%);
    background: -ms-linear-gradient(top, #003f87 5%, #468ccf 100%);
    background: linear-gradient(top, #003f87 5%, #468ccf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
 startColorstr='#003f87',
 endColorstr='#468ccf', GradientType=0 );
    border: none;
}

/*Submit button text*/
.tabContent.requestForm.illRequest #submitILLRequest {
	line-height: 120%;
	padding: 0em 0.5em 0em 0.5em;
}
/*****************************************************************
END: Summit 3 Request Form Changes - Updated 2/29/16
******************************************************************/