/* David Bass - 08 Oct 2013 */
/* restored 14feb2014 */

.tabContent.viewIt {
	margin: 4px;
	padding: 4px;
}

.internalTitle {
	font-weight: normal;
}

/* only bold the first UL links; not the set of links found in the 2nd UL */
.tabContent.viewIt >UL:first-of-type a {
	font-weight: bold;
}

.tabContent.viewIt > UL:first-of-type > LI:nth-of-type(odd):before {

	content: url('//libweb1.library.wwu.edu/alma/images/arrow2.gif');
}


.tabContent.viewIt >UL:first-of-type > LI:nth-of-type(odd) a:after {
	padding-left: 8px;
	padding-top: 5px;
	content: url('//libweb1.library.wwu.edu/alma/images/go.gif');
}

.tabContent.viewIt UL LI:nth-of-type(even) {
	padding-left: 34px !important;
	padding-bottom: 15px !important;
}

.tabContent.viewIt H1 {
	padding-top: 15px;
	border-top: 1px solid #ccc;
	font-weight: normal;
	margin-left: 0;	
	display:none;		/* hide the "Full text or print issue unavailable?" string */
}

.tabContent.viewIt UL LI:last-child:before {
	content: "";
}

.tabContent.viewIt UL:last-of-type LI:last-child {
	padding-left: 15px !important;

}
/*Lesley L. - 8/3/15 Color change after August Alma release*/
.publicNote {
	color: #cc2d30;
	white-space: normal;
}

/*Lesley L. - 4/5/16 Remove new div adding space above service links*/
.repViewItNoBorder {
	display: none;
}