/* hide the "barcode" column - 13sep2013 */ 
.itemsList #TABLE_DATA_item_list th:first-of-type,
.itemsList #TABLE_DATA_item_list td:first-of-type { display: none !important; }

.tabContent .viewIt {
	margin: 4px;
	padding: 4px;
}

.clearfix.getitNoHoldings {
	margin: 4px;
	padding: 4px;
}

/* 4 oct 2013 */

.clearfix.getitNoHoldings > .clearfix.requestOptionNoHoldings:before {
    content: url('//libweb1.library.wwu.edu/alma/images/arrow2.gif') !important;
    padding-right: 10px;
}

/* Restore GO button link functionality */
.submitAsLink, .typeC .formDiv input.submitAsLink {
    background: url("//libweb1.library.wwu.edu/alma/images/go.gif");
    background-repeat: no-repeat;
    background-position: 99%;
	background-padding-left: 8px;
    padding-right: 31px;
}

/* Remove the Go button from all but the first link */
.clearfix.getitNoHoldings > .clearfix.requestOptionNoHoldings + .clearfix.requestOptionNoHoldings > input.submitAsLink.popout {
	background: none;
}

input.submitAsLink.popout.requestOption {
    font-size: 1em !important;
    line-height: 20px !important;
}

/* undo the underline for all but the first link (the ILL link) */
.clearfix.getitNoHoldings > .clearfix.requestOptionNoHoldings + .clearfix.requestOptionNoHoldings >  input.submitAsLink.popout {
	border-bottom: 0px solid #ccc;
    text-decoration:none !important;
    font-size: 1.0em !important;
}

/* put a line between the ILL link and the "Report a problem" link */
.clearfix.getitNoHoldings > div.clearfix.requestOptionNoHoldings:nth-last-child(2) {
    border-top: 1px solid #ccc;
    margin-top:5px;
}

.clearfix.getitNoHoldings > div.clearfix.requestOptionNoHoldings:nth-last-child(2):before {
	content: " " !important;
}

.clearfix.getitNoHoldings > div.clearfix.requestOptionNoHoldings:nth-last-child(2):after {
	content: " " !important;
}

/*Lesley L. - 8/18/14. Move "Hide details" link to the right to separate it from location data*/
#displayHolding {
	float: right !important;
}

/*Lesley L. - 8/28/14. Put "Details about this location" link on its own line and float right.*/
.locate {
	float: right;
}